body {
  padding-top: 70px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
    height: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.full-height {
  height: 100%;
}
