::-webkit-scrollbar {
    display: none;
}

html {
    min-width: 1024px;
    min-height: 768px;
}

body {
  padding-top: 70px;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
    height: 100%;
    overflow: hidden;
  }
}

textarea {
  resize: none;
}

.full-height {
  height: 100%;
}

.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown li a{
  color: #aaa;
}

.inverse-dropdown li a:hover{
  color: #fff;
  background-color: #000;
}

.inverse-dropdown .divider{
  background-color: #000;
}

.infinite {
  overflow-y: auto;
  max-height: 70vh;
  bottom: 0;
}

.entire-page {
  max-height: 90vh;
}

.panel-heading:hover {
  background-color: #e6e6e6;
}
