<div class="row">
    <div class="col-sm-9">
        <ul class="list-group">
            <taskFrame *ngFor="let task of activeViewService.taskHistory" [data]="task"
                       [activeProject]="activeViewService.activeProject"></taskFrame>
        </ul>
    </div>
    <div class="col-sm-3">
        <!--Sarasa!-->
        <taskList [task]="activeViewService.activeTask" [taskName]="'Task'" [partial]="'partial'"></taskList>
        <!--<div><a class="btn btn-default btn-inverse" [routerLink]="['/projects']">-->
        <!--<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back</a>-->
        <!--</div>-->
        <!--<taskList [task]="data" [taskName]="'Milestone'" [partial]="'partial'"></taskList>-->
    </div>
</div>