<div class="row">
    <div class="col-sm-9" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300">
        <ul class="list-group infinite entire-page">
            <taskFrame *ngFor="let task of activeViewService.taskHistory; let i = index"
                       [data]="task"
                       [index]="i"
            ></taskFrame>
        </ul>
    </div>
    <div class="col-sm-3">
        <taskList [task]="activeViewService.activeTask"></taskList>
    </div>
</div>
<editTaskModal [task]="activeViewService.editedParent" [data]="activeViewService.editedTask"></editTaskModal>
