<div>
    <div [id]="'editTaskModal'" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Task editor</h4>
                </div>
                <div class="modal-body">
                    <form class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="data.title" placeholder="Title"
                                   name="title">
                            <textarea class="form-control" [(ngModel)]="data.description" placeholder="Description"
                                      name="description"></textarea>
                            <select class="form-control" [(ngModel)]="data.category" name="category">
                                <option *ngFor="let category of task.allowedCategories">
                                    {{category}}
                                </option>
                            </select>
                            <button type="button" data-dismiss="modal" class="form-control btn btn-default btn-inverse"
                                    (click)="submitTask()">Done!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>