<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{data.title}}</div>
      <div class="panel-body">
        {{data.description}}
      </div>
    </div>
    <div><a class="btn btn-default btn-inverse" [routerLink]="['/projects']">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <milestone [data]="milestoneService.currentMilestone"></milestone>
  </div>
  <div class="col-md-3">
    <taskList [task]="data"></taskList>
  </div>
</div>
