<div>
  <h4 *ngIf="task.tasks && task.tasks.length > 0">{{taskName + 's'}}:</h4>
  <div>
  <newTask [task]="task" [taskName]="taskName"></newTask>
  </div>
  <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" *ngIf="task.tasks && task.tasks.length > 0">
    <ul class="list-group infinite">
      <task *ngFor="let item of task.tasks" [data]="item" [routerLink]="['/projects', (item.project._id || item.project), 'tasks', item._id]">
      </task>
    </ul>
  </div>
</div>
