<div class="row">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">{{data.category}}: {{data.title}}</div>
      <div class="panel-body">
        {{data.description}}
      </div>
    </div>
    <commentList [task]="data"></commentList>
    <div *ngIf="data.project && data.parent">
      <a class="btn btn-default btn-inverse" [routerLink]="['/projects', data.project._id]">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back
      </a>
    </div>
  </div>
  <div class="col-sm-3">
    <taskList [task]="data" [taskName]="'Epic'" [partial]="'partial'"></taskList>
  </div>
</div>
