<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        {{data.category}}: {{data.title}}
                    </div>
                    <div class="col-sm-3 pull-right">
                        <div class="btn-group">
                            <div><a class="btn btn-default"
                                    [routerLink]="['/projects', activeProject._id, 'tasks', data._id]">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{data.description}}
            </div>
        </div>
    </div>
</div>
