<div class="infinite-parent">
  <h4 *ngIf="task.tasks && task.tasks.length > 0">Tasks:</h4>
  <div>
  <newTask [task]="task", [taskName]="Epic"></newTask>
  </div>
  <div class="infinite" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" *ngIf="task.tasks && task.tasks.length > 0">
    <ul class="list-group">
      <task *ngFor="let item of task.tasks" [data]="item" [routerLink]="['/projects', (item.project._id || item.project), 'tasks', item._id]">
      </task>
    </ul>
  </div>
</div>
